<odoo>
    <data>
        <!-- Top menu item --> 
        <menuitem name="Smart Apps" id="smart_apps.menu_root"  web_icon="smart_apps,static/description/icon.png"/> 


        <!-- Overviews -->
        <!-- <menuitem name="Overviews" id="res_cus_menu_overview" sequence="-1" parent="smart_customers.menu_root"/> -->
        <!-- <menuitem name="Dasboard" id="res_cus_menu_overview_dashboard" parent="smart_customers.res_cus_menu_overview"  action="smart_customers.res_cus_menu_overview_dashboard_action_window"/> -->

        <!-- Apps -->
        <menuitem name="Apps" id="menu_apps" parent="smart_apps.menu_root" action="smart_apps.res_apps_action_window"/>  
        
    </data>

</odoo>